<table mat-table [dataSource]="dataSource" matSort>
  <ng-container [matColumnDef]="col.columnDef" *ngFor="let col of columns">
    <th mat-header-cell [hidden]="col.hidden" *matHeaderCellDef mat-sort-header [ngClass]="{colflow: !col.sort}"
      [disabled]="!col.sort">
      {{col.header}}
      <mat-form-field class="filter" *ngIf="col.displayFilter" floatLabel="never">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="filterForm.get(col.columnDef)">
      </mat-form-field>
    </th>
    <td mat-cell [hidden]="col.hidden" *matCellDef="let row">{{ col.columnDef === 'date' ? (col.cell(row) | date :
      'd.MM.yy' ) : col.cell(row) }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button color="primary" (click)="editItem(row)">
        <ion-icon name="pencil-outline"></ion-icon>
      </button>
      <button mat-icon-button color="primary" (click)="deleteItem(row)">
        <ion-icon name="trash-outline"></ion-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<div>
  <button mat-flat-button color="primary" (click)="openDialog()">Add New</button>
</div>
<mat-spinner class="loading-spinner" *ngIf="loading"></mat-spinner>